<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>JSHint Next Preview</title>

		<link rel="stylesheet" href="/media/css/bootstrap.min.css">
		<link rel="stylesheet" href="/media/css/codemirror.css">
		<link rel="stylesheet" href="/media/css/weekly.css">

		<script src="/media/js/underscore.js"></script>
		<script src="/media/js/codemirror.js"></script>
		<script src="/media/js/javascript.js"></script>
		<script src="/media/js/jshint.js"></script>
		<script src="/media/js/weekly.js"></script>

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-126146-15']);
			_gaq.push(['_setDomainName', 'jshint.com']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;

				var proto = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www');
				ga.src = proto + '.google-analytics.com/ga.js';

				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>

	<body onload="onload()">
		<a href="https://github.com/jshint/jshint-next/">
			<img class="ribbon"
				src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
		</a>

		<div class="container-fluid topbar">
			<div class="row-fluid">
				<div class="span2">
					<a href="/">
						<img src="/media/img/jshint.png" alt="JSHint">
					</a>

					<span class="label label-important preview-badge">
						<i class="icon-exclamation-sign icon-white"></i>
						EARLY PREVIEW
					</span>
				</div>

				<div class="span10">
					<div class="links">
						<a href="http://www.jshint.com/">Stable version &rarr;</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid editor">
			<div class="row-fluid">
				<div class="span6">
					<textarea id="editor">// Your code here.</textarea>
					<div class="buttons">
						<button class="btn btn-primary" onclick="lint()">
							<a class="icon-heart icon-white"></a>
							Lint
						</button>
					</div>
				</div>

				<div class="span6 panel desc">
					{{ .Desc }}
				</div>

				<div class="span6 panel report" style="display:none;">
					<div class="alert alert-error">
						Uh oh, JSHint has found potential problems in your code:
					</div>

					<table class="table table-bordered"></table>
				</div>

				<div class="span6 panel success" style="display:none;">
					<div class="alert alert-success">
						Good job! JSHint hasn't found any problems with your code.
					</div>

					<p><img src="/media/img/ididit.gif" alt="I did it!"></p>
					<p><small>
						<a href="http://explodingdog.com/title/ididit.html">Source</a>
					</small></p>
				</div>
			</div>
		</div>

		<div class="footer">
			<p><strong>JSHint</strong>, by JSHint Community.</p>
			<p>Follow us on <a href="https://twitter.com/jshint/">Twitter</a> or
			<a href="https://github.com/jshint/">GitHub</a>.
			Maintained by <a href="http://anton.kovalyov.net">Anton Kovalyov</a>.</p>
		</div>

		<script type="underscore/template" id="template-report">
			<% _.each(warnings, function (warning) { %>
			<tr>
				<td class="code"><%= warning.code %></td>
				<td class="line"><%= warning.line %></td>
				<td class="desc"><%= warning.desc %></td>
			</tr>
			<% }); %>
		</script>
	</body>
</html>
